<div  style="display: block" class="chartContainer" >
    <h3 class="labelTitle">{{labelOfLineChart}}</h3>
    @defer (when myCondition) 
    {
     <h4 class="chartError">{{errorMessage}} Cliquez sur retour</h4>
    }
    <canvas id ='chartCanvas'  baseChart 
        [type]="'line'"
        [data]="lineChartData"        
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [options]="lineChartOptions"
        >
    </canvas>

</div>
<a routerLink="/telesport">Retour</a>   