<h3>Nombre de médailles par pays</h3>
<h5>Nombre de J.O. : {{labelOfNbCountry}} -  Nombre de pays: {{labelOfNbCountry}}</h5>
<canvas id ='pays-list-piechart' baseChart width="600" height="500"
    [type]="'pie'"
    [datasets]="pieChartDatasets"         
    [labels]="pieChartLabels" 
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
    [options]="pieChartOptions"
    (chartClick)="onChartClick($event)"
    >
</canvas>
<a routerLink="/telesport/detail/0" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Détails</a>