<div class="divContainer">
<h3 class="labelTitle">Nombre de médailles par pays</h3>
<div ><span class="labelContainer">Nombre de J.O.cumulés: {{labelOfNbOfJO}} </span><span class="labelContainer">  Nombre de pays: {{labelOfNbCountry}}</span></div>
<canvas class ="chartContainer" id ='pays-list-piechart' baseChart 
    [type]="'pie'"
    [datasets]="pieChartDatasets"         
    [labels]="pieChartLabels"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
    [options]="pieChartOptions"
    
    (chartClick)="onChartClick($event)"
    >
</canvas>
</div>