<h1>Angular pie chart - Projet 2 - OpenClassrooms</h1>
<canvas id ='pays-list-piechart' baseChart width="600" height="500"
    [type]="'pie'"
    [datasets]="pieChartDatasets"         
    [labels]="pieChartLabels" 
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
    [options]="pieChartOptions"
    (chartClick)="onChartClick($event)"
    >
</canvas>
<a routerLink="telesport/detail" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Détails</a>